body{
    margin:0;
}
nav a{
    text-decoration:none; 
    color:aliceblue;
    font-size: 16px;
    padding:5px 15px;
    font-family: Audiowide;
    &:hover{
        color:burlywood;
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color:cadetblue;
}
nav{
    padding: 10px;
}